HAXBALL_TOKEN=TU_TOKEN_DE_HAXBALL
HAXBALL_ROOM_NAME=Host Persistente
HAXBALL_MAX_PLAYERS=16
HAXBALL_PUBLIC=true
HAXBALL_GEO_CODE=AR
HAXBALL_GEO_LAT=-34.6037
HAXBALL_GEO_LON=-58.3816
HAXBALL_SCORE_LIMIT=5
HAXBALL_TIME_LIMIT=5
HAXBALL_TEAMS_LOCK=false
# HAXBALL_PROXY=http://1.1.1.1:80
API_PORT=3000
